{{#each posts}}
<div>{{title}}</div>
<div>{{content}}</div>
<div>Posted By {{username}}</div>
{{/each}}

<a href="/dashboard/create" style="display: block"><button class="btn btn-primary" id="new-post">+ New Post</button></a>