{{#each posts as |post|}}
<a class="w-100 mb-5" href="/comment">
    <div class="title-block display-flex justify-space-between bg-info text-light p-2">
        <div>{{post.title}}</div>
        <div>Posted by {{post.username}}</div>
    </div>
    <div class="p-2" style="border: 1px solid #1bbc9b">{{post.content}}</div>
    
    <div class="comments">

    </div>
</a>
</a>
{{/each}}

<script src="/js/comment.js"></script>