<div class="create-post-block w-100" style="border: 3px solid #2d3e50; height: 19.5rem">
    <div class="p-2 mb-2" style="background: #2d3e50; color: white">Edit Post</div>
    <div class="post-block px-2">
        <label for="title" style="display: block">Title</label>
        <input type="text" id="title" class="w-100 my-2 p-2" value="{{post.title}}">
        <label for="content" style="display: block">Content</label>
        <input type="textarea" id="content" class="w-100 my-2 p-2" value="{{post.content}}">
        <button id="update" class="btn btn-primary w-100" style="margin-bottom: 10px">Update</button>
        <button id="delete" class="btn btn-primary w-100" style="margin-bottom: 10px">Delete</button>
    </div>
</div>

<script src="/js/updatePost.js"></script>